<div class="row">
    <div class="col-xl-12">
        <div class="contact-page__form">
            <form action="assets/inc/sendemail.php" class="comment-one__form contact-form-validated"
                  novalidate="novalidate">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="comment-form__input-box">
                            <input type="text" placeholder="Your name" name="name">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="comment-form__input-box">
                            <input type="email" placeholder="Email Address" name="email">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="comment-form__input-box">
                            <input type="text" placeholder="Phone number" name="phone">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="comment-form__input-box">
                            <input type="text" placeholder="Subject" name="Subject">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="comment-form__input-box">
                            <textarea name="message" placeholder="Write Message"></textarea>
                        </div>
                        <button type="submit" class="thm-btn faqs-contact__btn"><span>Send a
                                                message</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
