<!--CTA One Start-->
<section class="cta-one">
    <div class="cta-one-bg" style="background-image: url(assets/images/backgrounds/cta-one-bg.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <p class="cta-one__tagline">We can help you stand out your business</p>
                    <h2 class="cta-one__title">Website design services for <br> your businesses</h2>
                    <a href="contact.html" class="thm-btn cta-one__btn thm-btn--dark--light-hover"><span>Free
                                    consultation</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One End-->
