{% extends 'partials/_master.twig' %}

{% block content %}
    <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{{ path('homepage') }}">Acceuil</a></li>
                        <li>erreur 404</li>
                    </ul>
                    <h2>erreur 404</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Error Page Start-->
        <section class="error-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="error-page__inner">
                            <h2 class="error-page__title">404</h2>
                            <h3 class="error-page__tagline">Ooops <br> Rien ici!</h3>
                            <p class="error-page__text">Page inexistante</p>
                            <form class="error-page__form">
                                <div class="error-page__form-input">
                                    <input type="search" placeholder="Search here">
                                    <button type="submit"><i class="icon-magnifying-glass"></i></button>
                                </div>
                            </form>
                            <a href="{{ path('homepage') }}" class="thm-btn error-page__btn">Retour à l'acceuil</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Error Page End-->
{% endblock %}
