{% extends 'partials/_master.twig' %}

{% block content %}
    {% include 'partials/_header_section.twig' with {'title': 'services'}  %}

    <!--Services Three Start-->
    <section class="services-three">
        <div class="services-three-shape"
            style="background-image: url(assets/images/shapes/services-three-shape.png)"></div>
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Ce que nous faisons au quotidien</span>
                <h2 class="section-title__title">Nos Services</h2>
            </div>
            <div class="services-three__top">
                <div class="row">
                    {% for service in services %}
                        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                            <!--Services Three Single-->
                            <div class="services-three__single">
                                <div class="services-three_icon">
                                    <span class="icon-online-shopping"></span>
                                </div>
                                <h3 class="services-three__title"><a href="{{ service|link }}">{{ service.title }}</a></h3>
                                <p class="services-three__text">{{ service.excerpt }}</p>
                                <div class="services-three__btn-box">
                                    <a href="{{ service|link }}" class="services-three__btn">Lisez plus...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="services-three__bottom">
                <p class="services-three__bottom-text">Aurora est faites pour vous et éxiste pour vous servir le mieux<a
                        href="/about">Nous connaître</a></p>
            </div>
        </div>
    </section>
    <!--Services Three End-->
{% endblock %}
