{% extends('partials/_master.twig') %}

{% block main %}
    <!--Page Header Start-->
    <section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
        <div class="page-header-shape-1"></div>
        <div class="page-header-shape-2"></div>
        <div class="container">
            <div class="page-header__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><span>.</span></li>
                    <li>Contact</li>
                </ul>
                <h2>Contact</h2>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--Contact Page Start-->
    <section class="contact-page">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Contact with us</span>
                <h2 class="section-title__title">Write us a message</h2>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-page__form">
                        {{ boltform('contact') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Page End -->

{% endblock %}
