<div class="col-xl-6 col-lg-6">
    <div class="best-agency__right">
        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
            {% for feature in features %}
                <div class="accrodion ">
                    <div class="accrodion-title">
                        <h4>{{ feature.title }}</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>{{ feature.content }} </p>
                        </div><!-- /.inner -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
