<!--Counter One Start-->
        <section class="counter-one">
            <div class="counter-one__inner">
                <div class="counter-one-pattern"
                    style="background-image: url(assets/images/shapes/counter-one-pattern.png)"></div>
                <div class="counter-one__box-one"></div>
                <div class="counter-one__box-two"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <ul class="list-unstyled counter-one__list">
                                <li class="counter-one__single wow fadeInUp" data-wow-delay="100ms">
                                    <div class="counter-one__icon">
                                        <span class="icon-recommend"></span>
                                    </div>
                                    <h3 class="odometer" data-count="6420">00</h3>
                                    <p class="counter-one__text">Projects Completed</p>
                                </li>
                                <li class="counter-one__single wow fadeInUp" data-wow-delay="200ms">
                                    <div class="counter-one__icon">
                                        <span class="icon-recruit"></span>
                                    </div>
                                    <h3 class="odometer" data-count="880">00</h3>
                                    <p class="counter-one__text">Active Clients</p>
                                </li>
                                <li class="counter-one__single wow fadeInUp" data-wow-delay="300ms">
                                    <div class="counter-one__icon">
                                        <span class="icon-customer"></span>
                                    </div>
                                    <h3 class="odometer" data-count="9280">00</h3>
                                    <p class="counter-one__text">Satisfied Clients</p>
                                </li>
                                <li class="counter-one__single wow fadeInUp" data-wow-delay="400ms">
                                    <div class="counter-one__icon">
                                        <span class="icon-graphic-designer"></span>
                                    </div>
                                    <h3 class="odometer" data-count="380">00</h3>
                                    <p class="counter-one__text">Expert Teams</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Counter One End-->

<!--We Care Start-->
        <section class="we-care">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="we-care__inner">
                            <div class="we-care__img">
                                <img src="assets/images/resources/we-care-img.jpg" alt="">
                            </div>
                            <div class="we-care__content">
                                <h3 class="we-care__title">We Care About Business Growths</h3>
                                <p class="we-care__text">There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--We Care End-->
