{% setcontent counters = 'counters' %}
{% if counters is not empty %}
<!--Counter One Start-->
<section class="counter-one">
    <div class="counter-one__inner">
        <div class="counter-one-pattern"
            style="background-image: url(assets/images/shapes/counter-one-pattern.png)"></div>
        <div class="counter-one__box-one"></div>
        <div class="counter-one__box-two"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="list-unstyled counter-one__list">
                        {% for counter in counters %}
                            <li class="counter-one__single wow fadeInUp" data-wow-delay="100ms">
                                <div class="counter-one__icon">
                                    <span class="{{ counter.counter_icon }}"></span>
                                </div>
                                <h3 class="odometer" data-count="{{ counter.count }}">00</h3>
                                <p class="counter-one__text">{{ counter.name }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counter One End-->
{% endif %}

<!--We Care Start-->
<section class="we-care">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="we-care__inner">
                    <div class="we-care__img">
                        <img src="{{ asset('images/resources/we-care-img.jpg') }}" alt="">
                    </div>
                    <div class="we-care__content">
                        <h3 class="we-care__title">We Care About Business Growths</h3>
                        <p class="we-care__text">Trusting us with your project is like finding the right spanner for a nut</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--We Care End-->
