{% setcontent services = 'services' %}
<!--Services One Start-->
<section class="services-one">
    <div class="services-one-shape" style="background-image: url(assets/images/shapes/services-one-shape.png)">
    </div>
    <div class="container">
        <div class="services-one__top">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <div class="services-one__top-left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Nos Services</span>
                            <h2 class="section-title__title">Nous fournissons <br> Les meilleures Solution</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="services-one__top-right">
                        <p class="services-one__top-text">Aurora Digital Agency! Nous mettons nos valeurs, nos compétences, et notre passion dans la réussite
                            de vos projets innovants. Nous vous fournissons les meilleures des développement Web et Mobile et de l'e-commerce</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-one__bottom">
            <div class="row">
                {% for service in services %}
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="{{ loop.index }}00ms">
                        <!--Services One Single-->
                        <div class="services-one__single">
                            <h3 class="services-one__title"><a href="{{ service|link }}">{{ service.title }}</a></h3>
                            <div class="services-one__icon">
                                <span class="icon-online-shopping"></span>
                            </div>
                            <div class="services-one__count"></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="600ms">
                    <!--Services One Single-->
                    <div class="services-one__view-all">
                        <div class="services-one__view-all-title-box">
                            <h3 class="services-one__view-all-title"><a href="/services">Nos Services<br></a>
                            </h3>
                        </div>
                        <div class="services-one__view-all-arrow">
                            <a href="/services"><span class="icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services One End-->
